<div class="row caja">
    <div class="col-md-12">
        <mat-card>
            <mat-card-header>
                <div class="row" style="width: 100%;">
                    <div class="col-md-8">
                        <span> <strong>DATOS DEL ACTIVO</strong>
                        </span>
                    </div>
                    <div class="col-md-4 close">
                        <span aria-label="Close" class="cerrar" (click)="closeModal()" aria-hidden="true">&times;</span>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col-md-3">
                        <span class="negrita">Descripción Activo: </span><br>
                        <span>{{data.descripcion}}</span>
                    </div>
                    <div class="col-md-3">
                        <span class="negrita">Código Activo: </span><br>
                        <span>{{data.codActivo}}</span>
                    </div>
                    <div class="col-md-3">
                        <span class="negrita">Area</span><br>
                        <span>{{data.area}}</span>
                    </div>
                    <div class="col-md-3">
                        <span class="negrita">Centro de Costo:</span><br>
                        <span>{{data.centroCosto}}</span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-3">
                        <span class="negrita">Empresa:</span><br>
                        <span>{{data.empresa}}</span>
                    </div>
                    <div class="col-md-3">
                        <span class="negrita">Sede:</span><br>
                        <span>{{data.sede}}</span>
                    </div>
                    <div class="col-md-3">
                        <span class="negrita">Piso:</span><br>
                        <span>{{data.piso}}</span>
                    </div>
                    <div class="col-md-3">
                        <span class="negrita">Responsable:</span><br>
                        <span>{{data.responsable}}</span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-3">
                        <span class="negrita">Fecha Alta:</span><br>
                        <span>{{data.fechaAlta | date:'dd/MM/Y'}}</span>
                    </div>
                    <div class="col-md-3">
                        <span class="negrita">Precio Total:</span><br>
                        <span>{{data.precioTotal | number:'1.2-2'}}</span>
                    </div>
                    <div class="col-md-3">
                        <span class="negrita">Valor Actual:</span><br>
                        <span>{{data.valorActual | number:'1.2-2' }}</span>
                    </div>
                </div>
        
            </mat-card-content>
        
        </mat-card>
        <mat-card>
            <mat-card-header>
                <strong>Depreciación del Activo</strong>
            </mat-card-header>
            <mat-card-content>
                <div class="row mt-4">
        
                    <div class="col-md-12 tabla mt-3">
                        <table mat-table class="mat-elevation-z8" #table [dataSource]="dataSource">
                            <ng-container matColumnDef="mes">
                                <th mat-header-cell *matHeaderCellDef class="mat-header-cell">
                                    Mes</th>
                                <td class="mat-header-cell" mat-cell *matCellDef="let data_det">
                                    {{data_det.fecha | date: 'MMMM'}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="anio">
                                <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Año</th>
                                <td class="mat-header-cell" mat-cell *matCellDef="let data_det">
                                    {{data_det.fecha | date: 'Y'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="valor">
                                <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Valor Depreciado</th>
                                <td class="mat-header-cell" mat-cell *matCellDef="let data_det">
                                    {{data_det.valor | number: '1.2-2'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="porcentajeDepreciacion">
                                <th mat-header-cell *matHeaderCellDef class="mat-header-cell">% Depreciación</th>
                                <td class="mat-header-cell" mat-cell *matCellDef="let data_det">
                                    {{data_det.porcentajeDepreciacion}} </td>
                            </ng-container>
                
                            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        
                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No se encontraron registros</td>
                            </tr>
                        </table>
        
                    </div>
                </div>
        
            </mat-card-content>
        </mat-card>
    </div>
</div>
