.container-fluid {
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    padding: 5px 5px 5px 5px;
    font-family: corbel, arial;
    font-size: 16px;
    margin: 0;
}

.grid-container {
    border-radius: 4px;
    width: 100%;
    height: 93%;
    border: 1px solid #3f51b5;
    margin: 0;
    padding: 8px;
    min-width: 320px;
}

.title {
    background-color: #3f51b5;
    color: #fcffff;
    padding: 8px 0px 10px 0px;
    text-align: center;
    font-weight: 500;
}

.find,
.main,
.footer {
    margin: 5px 5px 0px 5px;
}


.fila1-fecha{
    min-width: 250px;
    max-width: 250px;
    margin-right: 8px;
}
.fila1-buscar{
    min-width: 250px;
    max-width: 250px;
    margin-right: 8px;
}

.fila1-excel
.find {
    padding: 0px 15px;
    border-width: 0px 0px 1px 0px;

    width: 100%;
    margin: 0%;
}

.auditoriaForm {
    padding-bottom: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    overflow-x: scroll;
}

.fila1-excel{
    min-width: 100px;
    max-width: 100px;
    height: 40px;
    /*margin: auto;*/
    margin-top: 3px;
    margin-right: 5px;
    background-color: #0e740e;
    color: #ffffff;
}

.fila1-excel-orange{
    min-width: 105px;
    max-width: 105px;
    height: 40px;
    /*margin: auto;*/
    margin-top: 3px;
    margin-right: 5px;
    background-color: orange;
    color: black;
}
.fila1-eliminar-yellow{
    min-width: 125px;
    max-width: 125px;
    height: 40px;
    /*margin: auto;*/
    margin-top: 3px;
    margin-right: 5px;
    background-color: yellow;
    color: black;
}

.fila1-excel-cyan{
    min-width: 210px;
    max-width: 210px;
    height: 40px;
    /*margin: auto;*/
    margin-top: 3px;
    margin-right: 5px;
    background-color: #45818E;
    color: white;
}

.fila1-excel-purple{
    min-width: 160px;
    max-width: 160px;
    height: 40px;
    /*margin: auto;*/
    margin-top: 3px;
    margin-right: 5px;
    background-color: #20124D;
    color: white;
}

.highlight{
    background: #42A948; /* green */
  }

.fila1-eliminar{

    min-width: 105px;
    max-width: 105px;
    height: 40px;
    /*margin: auto;*/
    margin-top: 3px;
    background-color: #b91422;
    color: #ffffff;
    margin-right: 5px;
}

.fila1-eliminar-danger{

    min-width: 105px;
    max-width: 105px;
    height: 40px;
    /*margin: auto;*/
    margin-top: 3px;
    background-color: #b91422;
    color: #ffffff;
    margin-right: 5px;
}

.mat-elevation-z8 {
    width: 100%;
	font-family: arial;
	font-size: 10px;

}

.mat-column-empresa,
.mat-column-sede,
.mat-column-piso,
.mat-column-area,
.mat-column-centroCosto,
.mat-column-responsable,
.mat-column-codUsuario,
.mat-column-claseActivo,
.mat-column-codActivo,
.mat-column-descripcion,
.mat-column-marca,
.mat-column-modelo,
.mat-column-serie,
.mat-column-color,
.mat-column-medida,
.mat-column-serieMotor,
.mat-column-serieChasis,
.mat-column-placa,
.mat-column-tipoCombustible,
.mat-column-tipoCaja,
.mat-column-cantidadAsiento,
.mat-column-cantidadEje,
.mat-column-anoFabricacion,
.mat-column-usoDesuso,
.mat-column-observacion,
.mat-column-fecRegistro,
.mat-column-acciones,
.mat-column-fechaAlta,
.mat-column-precioTotal,
.mat-column-depreciacion,
.mat-column-depreciacionMensual,
.mat-column-valorActual,
.mat-column-nuevoCodActivo,
.mat-column-detalle {
	text-align: center;
	font-size: 10px;
    font-family: arial;
    padding: 2px;
}


.mat-header-cell {
    text-align: center; 
    padding: 15px; 
    width: 10px;
   
}
th.mat-header-cell:last-of-type{
    padding-right: 12px;
}

.mat-elevation-z8 {
    width: 100%;
	font-family: arial;
	font-size: 10px;

}
th.mat-cell{
    padding:15px;
    text-align: center;
}
td.mat-cell{
    padding:15px;
    text-align: center;
}
tr:hover {
    cursor: pointer;
}
  
tr:active {
    background: #efefef;
}

.tabla{
    overflow-y: auto;
    min-height: 100px;
}
