<div class="container-fluid">
    <!-- ventana nro 3 - salida -->
    <div class="grid-container">

        <div class="title">Asignar Responsable</div>

        <div class="find">
            <div class="auditoriaForm">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <mat-card>
                                <mat-card-header>
                                    <div class="row content" style="width: 100%;">
                                        <div class="col-md-9 col-xs-12">
                                            <span style="font-weight: bold;">Nuevo Responsable
                                            </span>
                                        </div>
                                        <div class="col-md-3 col-xs-12 close">
                                            <button mat-raised-button class="button-cancel" (click)="regresar()"
                                                color="primary">
                                                <mat-icon>keyboard_arrow_left</mat-icon> REGRESAR
                                            </button>
                                        </div>
                                    </div>
                                </mat-card-header>
                                <mat-card-content>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <mat-form-field class="example-full-width2" appearance="fill">
                                                <mat-label>Cód. Activo</mat-label>
                                                <input matInput type="text" [(ngModel)]="codActivo" maxlength="9">
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-3">
                                            <button mat-raised-button class="button-info-add" (click)="agregarActivo()"
                                                color="primary">
                                                <mat-icon>add</mat-icon> Agregar
                                            </button>
                                        </div>
                                    </div>
                                    <form [formGroup]="formulario" #formDirective="ngForm" (ngSubmit)="guardarRegistro()">
                                        <div class="row mt-4">
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width2" appearance="fill">
                                                    <mat-label>Ubicación</mat-label>
                                                    <input matInput type="text" formControlName="ubicacion">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width2" appearance="fill">
                                                    <mat-label>Área</mat-label>
                                                    <input matInput type="text" formControlName="area">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width2" appearance="fill">
                                                    <mat-label>Centro de Costo</mat-label>
                                                    <input matInput type="text" formControlName="codCenCost">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-form-field" appearance="fill">
                                                    <mat-label></mat-label>
                                                    <mat-select formControlName="cargo">
                                                        <mat-option value="" selected hidden>Seleccione</mat-option>
                                                        <mat-option value="1">GERENTE</mat-option>
                                                        <mat-option value="2">JEFE</mat-option>
                                                        <mat-option value="3">COORDINADOR</mat-option>
                                                        <mat-option value="4">SUPERVISOR</mat-option>
                                                        <mat-option value="5">ANALISTA</mat-option>
                                                        <mat-option value="6">ASISTENTE</mat-option>
                                                        <mat-option value="7">TERCERO</mat-option>
                                                    </mat-select>
    
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-3">
                                                <mat-form-field class="example-full-width2" appearance="fill">
                                                    <mat-label>Unidad de Control Patrimonial</mat-label>
                                                    <input matInput type="text" placeholder="N°" formControlName="unidad">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row mt-5">
                                            <div class="col-md-6">
                                                <mat-card>
                                                    <mat-card-header><strong>Datos del Activo</strong></mat-card-header>
                                                    <mat-card-content>
                                                        <table class="styled-table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Cod. Activo</th>
                                                                    <th>Responsable</th>
                                                                    <th>Eliminar</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let item of dataActivos">
                                                                    <td>{{item.codActivo}}</td>
                                                                    <td>{{item.nomResponsable}}</td>
                                                                    <td>
                                                                        <button
                                                                        (click)="eliminarActivo(item.codActivo)" mat-flat-button color="warn">
                                                                        <mat-icon>delete</mat-icon></button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </mat-card-content>
                                                </mat-card>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-card>
                                                    <mat-card-header><strong>Asignar Nuevo Responsable</strong></mat-card-header>
                                                    <mat-card-content>
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <mat-form-field class="example-full-width2"
                                                                        appearance="fill">
                                                                        <mat-label>Nuevo Responsable</mat-label>
                                                                        <input matInput type="text"
                                                                            placeholder="Ingrese el responsable" formControlName="responsable">
                                                                    </mat-form-field>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <button mat-raised-button class="button-success" type="submit" color="primary">
                                                                        <mat-icon>save</mat-icon> Guardar y descargar Formato de asignación
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </mat-card-content>
                                                </mat-card>
                                            </div>
                                        </div>
                                    </form>
                                    
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>

                </div>
            </div>


        </div>




    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin">
    <p style="color: white; text-align: center; ">Cargando... </p>
</ngx-spinner>