<mat-card>
    <mat-card-header>
        <div class="row content" style="width: 100%;">
            <div class="col-md-9 col-xs-12">
                <span style="font-weight: bold;">Historial Bajas
                </span>
            </div>
            <div class="col-md-3 col-xs-12 close">
                <button mat-raised-button class="button-cancel" (click)="regresar()"
                    color="primary">
                    <mat-icon>keyboard_arrow_left</mat-icon> REGRESAR
                </button>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-md-3">
                <mat-form-field class="fila1-nombres" appearance="fill">
                    <mat-label>Escribe el dato a buscar </mat-label>
                    <input matInput type="text" (keyup)="applyFilter($event)" placeholder="Buscar" autocomplete="off"/>
                </mat-form-field>    
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 tabla mt-3">
                <table mat-table class="mat-elevation-z8" #table [dataSource]="dataSource">
                    <ng-container matColumnDef="codActivo">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Cod.
                            Activo</th>
                        <td class="mat-header-cell" mat-cell *matCellDef="let data_det">
                            {{data_det.codActivo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="descripcion">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Descripcion</th>
                        <td class="mat-header-cell" mat-cell *matCellDef="let data_det">
                            {{data_det.descripcion}}
                            
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="tipoBaja">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Tipo Baja</th>
                        <td class="mat-header-cell" mat-cell *matCellDef="let data_det">
                            <ng-container *ngIf="data_det.tipoBaja == 1">
                                Por Obsolescencia (Daño Permanente o definitivo).
                            </ng-container> 
                            <ng-container *ngIf="data_det.tipoBaja == 2">
                                Por término de su vida útil contable.
                            </ng-container> 
                            <ng-container *ngIf="data_det.tipoBaja == 3">
                                Por elevado costo de reparación
                            </ng-container>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="fechaBaja">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">
                            Fecha Baja</th>
                        <td class="mat-header-cell" mat-cell *matCellDef="let data_det">
                            {{data_det.fechaBaja | date:'d/MM/Y'}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="observacionBaja">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">
                            Observacion Baja</th>
                        <td class="mat-header-cell" mat-cell *matCellDef="let data_det">
                            {{data_det.observacionBaja}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="codUsuarioMod">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">
                            Cod. Usuario Baja</th>
                        <td class="mat-header-cell" mat-cell *matCellDef="let data_det">
                            {{data_det.codUsuarioMod }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="codUsuario">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">
                            Cod. Usuario</th>
                        <td class="mat-header-cell" mat-cell *matCellDef="let data_det">
                            {{data_det.codUsuario}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="documentoBaja">
                        <th mat-header-cell *matHeaderCellDef class="mat-header-cell">
                            Documento Baja </th>
                        <td class="mat-header-cell" mat-cell *matCellDef="let data_det">
                           <button *ngIf="data_det.documentoBaja != ''" mat-icon-button color="primary" (click)="descargarArchivo(data_det.documentoBaja)"><mat-icon>download</mat-icon></button>
                        </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef>Acciones</th>
                        <td class="mat-header-cell" mat-cell *matCellDef="let data_det">

                            <a mat-icon-button (click)="EliminarRegistro(data_det)">
                                <mat-icon color="warn">delete</mat-icon>
                            </a>
                        </td>
                    </ng-container> -->

                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No se encontraron registros</td>
                    </tr>
                </table>

            </div>
        </div>

    </mat-card-content>
</mat-card>