<div class="container-fluid">
    <!-- ventana nro 3 - salida -->
    <div class="grid-container">

        <div class="title">Resumen General</div>

        <div class="find">
            <div class="auditoriaForm">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <mat-card>
                                <mat-card-header>
                                    <div class="row content" style="width: 100%;">
                                        <div class="col-md-9 col-xs-12">
                                            <span style="font-weight: bold;">RESUMEN
                                            </span>
                                        </div>
                                        <div class="col-md-3 col-xs-12 close">
                                            <button mat-raised-button class="button-cancel" (click)="regresar()"
                                                color="primary">
                                                <mat-icon>keyboard_arrow_left</mat-icon> REGRESAR
                                            </button>
                                        </div>
                                    </div>
                                </mat-card-header>
                                <mat-card-content>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <!-- <div class="form-group">
                                                 <label for="">Selecciona un Mes</label> 
                                                <input type="month" name="month" [(ngModel)]="months" id="month" class="form-control" (change)="changeMonth()">
                                            </div> -->
                                            <mat-form-field class="fila1-fecha" appearance="fill">
                                                <mat-label>Rango de Fecha</mat-label>
                                                <mat-date-range-input [formGroup]="range" [rangePicker]="picker"  >
                                                    <input matStartDate formControlName="start" placeholder="Fecha Inicio" (change)="changeMonth($event)">
                                                    <input matEndDate formControlName="end" placeholder="Fecha Final">
                                                </mat-date-range-input>
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-date-range-picker #picker></mat-date-range-picker>
                                                <mat-icon (click)="clearDate($event)" style=" position: absolute;
                                                        float: right;
                                                        top: -6px;
                                                        margin-left: 190px;
                                                        cursor: pointer;
                                                        color: rgba(0, 0, 0, 0.54);">clear</mat-icon>
                                                <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Fecha
                                                    Invalida</mat-error>
                                                <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Fecha
                                                    Invalida</mat-error>
                                            </mat-form-field>
                                        </div>
                                       
                        
                                        <div class="col-md-3">
                                            <mat-form-field class="example-form-field2"
                                                appearance="fill">
                                                <mat-label>Seleccionar Empresa</mat-label>
                                                <mat-select
                                                    (selectionChange)="selectEmpresa($event.value)"
                                                    [(ngModel)]="codEmpresa">
                                                    <mat-option value="" selected
                                                        hidden>Seleccione</mat-option>
                                                    <mat-option *ngFor="let item of dataEmpresas"
                                                        [value]="item.codEmpresa">{{item.desEmpresa}}</mat-option>

                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-form-field class="example-form-field2"
                                                appearance="fill">
                                                <mat-label>Seleccionar Sede</mat-label>
                                                <mat-select [(ngModel)]="sede">
                                                    <mat-option value="" selected
                                                        hidden>Seleccione</mat-option>
                                                    <mat-option *ngFor="let item of dataSedes"
                                                        [value]="item.codEstablecimiento">{{item.desEstablecimiento}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-3">
                                            <mat-form-field class="example-form-field2"
                                                appearance="fill">
                                                <mat-label>Área</mat-label>
                                                <input matInput type="text" placeholder="Ingrese Área" (change)="changeArea()" [(ngModel)]="area">
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-3">
                                            <button mat-flat-button color="primary" (click)="cargarDashboard()"><mat-icon>search</mat-icon> Buscar</button>
                                        </div>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-md-3">
                                            <mat-card>
                                                <mat-card-content style="background-color: #ecebeb;">
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            <h4 style="color:green">ALTAS</h4>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-4">
                                                        <div class="col-md-12 text-center">
                                                            <h4>{{dataResumen.altas}}</h4>
                                                        </div>
                                                    </div>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-card>
                                                <mat-card-content style="background-color: #ecebeb;">
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            <h4 style="color:red">BAJAS</h4>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-4">
                                                        <div class="col-md-12 text-center">
                                                            <h4>{{dataResumen.bajas}}</h4>
                                                        </div>
                                                    </div>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-card>
                                                <mat-card-content style="background-color: #ecebeb;">
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            <h4 style="color:orangered">VALOR TOTAL</h4>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-4">
                                                        <div class="col-md-12 text-center">
                                                            <h4>{{dataResumen.valorTotal | number:'1.2-2'}}</h4>
                                                        </div>
                                                    </div>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-card>
                                                <mat-card-content style="background-color: #ecebeb;">
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            <h4 style="color:blue">MEJORAS</h4>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-4">
                                                        <div class="col-md-12 text-center">
                                                            <h4>{{dataResumen.mejoras}}</h4>
                                                        </div>
                                                    </div>
                                                    
                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                    </div>

                                    <div class="row">
                                       
                                        <div class="col-md-3">
                                            <mat-card>
                                                <mat-card-content style="background-color: #ecebeb;">
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            <h4 style="color:brown">VALOR ACTUAL</h4>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-4">
                                                        <div class="col-md-12 text-center">
                                                            <h4>{{dataResumen.valorActual | number:'1.2-2'}}</h4>
                                                        </div>
                                                    </div>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-card>
                                                <mat-card-content style="background-color: #ecebeb;">
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            <h4 style="color: orange;">PRÉSTAMOS</h4>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-4">
                                                        <div class="col-md-12 text-center">
                                                            <h4>{{dataResumen.prestamos}}</h4>
                                                        </div>
                                                    </div>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                        <div class="col-md-3">
                                            <mat-card>
                                                <mat-card-content style="background-color: #ecebeb;">
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            <h4 style="color: burlywood;">REPARACIONES</h4>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-4">
                                                        <div class="col-md-12 text-center">
                                                            <h4>{{dataResumen.reparaciones}}</h4>
                                                        </div>
                                                    </div>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
       
                </div>
            </div>


        </div>




    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin">
    <p style="color: white; text-align: center; ">Cargando... </p>
</ngx-spinner>